*{
    margin:0px;
 }
 header{
    height:15%;
    border :2px solid black;
    
 }
 a{
    margin:15px
 }
 header:first-child{
    text-align: center;
 }
 aside{
    width:15%;
    height: 35em;
    border :2px solid black;
 }
 footer{
    border :2px solid black;
    height:6em
 }
 footer>h1{
    text-align: center;
 }