<!-- <header>
<h1>Header Before</h1>
<ul>
  <a href="">Home</a>
  <a routerLink="contact">Contact Us</a>
</ul>
</header> -->
<!-- <body> -->
    <!-- <aside>
        Sidebar Before
    </aside> -->
    <!-- <button (click)="routeToDashboard()">Login</button> ewe -->
<!-- <footer>

<h1>Footer Before</h1>
</footer> -->

<!-- <header> <app-header-before></app-header-before></header>
 <h1>hh43434343</h1> 
 <body>
  <aside>
    <app-sidebar-before></app-sidebar-before>
  </aside> 
  <button (click)="routeToDashboard()">Login</button>
</body> 


<footer>
  <app-footer-before></app-footer-before> 
</footer>  -->
<h1>Home</h1>